$bGray: #282828
$bGrayLight: #e7e5e7
$bOrange: #ec4112

$bWhite: white

body
  background: $bGray
  color: $bGray
  >.container-fluid
    background: $bWhite
    &.portfolioPage, &.newsPage, &.aboutPage, &.servicesPage, &.serviceSinglePage
      background: lighten($bGrayLight, 7.5%)