$bGray: #282828
$bGrayLight: #e7e5e7
//$bOrange: #ec4112
$bOrange: #e8e000

$bWhite: white

body
  //background: $bGray
  background: $bWhite
  color: $bGray
  >.container-fluid
    background: $bWhite
    &.portfolioPage, &.newsPage, &.aboutPage, &.servicesPage, &.serviceSinglePage, &.portfolioSinglePage
      background: lighten($bGrayLight, 7.5%)