@import "_colourscheme.sass"

body
  margin: 0

a
  text-decoration: none
  color: inherit

ul
  list-style: none

input, textarea
  outline: none
  border: none
  background: transparent
  color: $bWhite

::-webkit-input-placeholder
  color: $bWhite
::-moz-placeholder
  color: $bWhite
