body {
  background: white;
  color: #282828; }
  body.home > .container-fluid {
    background: white; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding-left: 0; }

input, textarea {
  outline: none;
  border: none;
  background: transparent;
  color: #282828; }

::-webkit-input-placeholder {
  color: #282828; }

::-moz-placeholder {
  color: #282828; }

.socials form input[type='search'] {
  color: #e8e000; }

.socials form input[type='search']::-webkit-input-placeholder {
  color: #e8e000; }

.socials form input[type='search']::-moz-placeholder {
  color: #e8e000; }

@font-face {
  font-family: RobotoThin;
  src: url(../fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: RobotoBlack;
  src: url(../fonts/Roboto-Black.ttf); }
html {
  font-size: 14px;
  line-height: 18px; }

body {
  font-family: RobotoLight;
  font-size: 1.25rem;
  line-height: 1.27778rem; }

h1 {
  font-size: 2.83333rem;
  line-height: 3.83333rem;
  margin-top: 1.27778rem;
  margin-bottom: 2.55556rem; }

h2 {
  font-size: 2rem;
  line-height: 2.55556rem;
  margin-top: 1.27778rem;
  margin-bottom: 0; }

h3 {
  font-size: 1.38889rem;
  line-height: 2.55556rem;
  margin-top: 1.27778rem;
  margin-bottom: 0; }

h4 {
  font-size: 1rem;
  line-height: 1.27778rem;
  margin-top: 1.27778rem;
  margin-bottom: 0; }

h5, h6 {
  font-size: 1rem;
  line-height: 1.27778rem;
  margin-top: 1.27778rem;
  margin-bottom: 0; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.27778rem; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

body {
  background: white;
  color: #282828; }
  body.home > .container-fluid {
    background: white; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.portfolioPage nav.siteNav,
.newsPage nav.siteNav,
.aboutPage nav.siteNav,
.aboutInnTeam nav.siteNav {
  border-bottom: solid 1px #e7e5e7; }

nav.siteNav {
  padding: 2rem 0 0;
  background: white;
  transition: padding 0.25s; }
  nav.siteNav.scrolled {
    max-width: 1870px;
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    padding-top: 1rem;
    border-bottom: solid 1px #e7e5e7;
    z-index: 10; }
  nav.siteNav .logo {
    display: block;
    position: relative; }
    nav.siteNav .logo div.orange {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      right: 15px;
      background: #e8e000; }
    nav.siteNav .logo div.bgImage {
      position: absolute;
      top: -12px;
      bottom: 0;
      left: auto;
      right: 25px;
      width: 75%;
      background: url(../imgs/site-logo.png);
      background-size: 85%;
      background-position: 100% 0;
      background-repeat: no-repeat; }
    @media screen and (min-width: 992px) {
      nav.siteNav .logo {
        float: left !important; } }
    nav.siteNav .logo img {
      display: block;
      width: 70%;
      height: auto; }
  nav.siteNav .phones {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (min-width: 992px) {
      nav.siteNav .phones {
        float: right !important; } }
    nav.siteNav .phones i {
      display: inline-block;
      margin-right: 1.25rem;
      width: 25px;
      height: 30px;
      background: url("../imgs/call_zhgi-01.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
  nav.siteNav .socials {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (min-width: 992px) {
      nav.siteNav .socials {
        float: right !important; } }
    nav.siteNav .socials form {
      position: absolute;
      top: 15%;
      left: -183px;
      width: 100%;
      transition: all 0.25s; }
      nav.siteNav .socials form input[type='search'] {
        border: solid 2px #e8e000;
        padding: 5px; }
      nav.siteNav .socials form button {
        display: none; }
    nav.siteNav .socials form.hidden {
      left: 0;
      width: 0;
      overflow: hidden; }
    nav.siteNav .socials #navSearchTrigger {
      cursor: pointer;
      width: 25px;
      height: 30px;
      background: url("../imgs/loop_zhgi-01.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    nav.siteNav .socials a {
      font-size: 1.5rem; }
      nav.siteNav .socials a:hover {
        color: #e8e000; }
  nav.siteNav .navList {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 35px; }
    @media screen and (min-width: 992px) {
      nav.siteNav .navList {
        float: left !important; } }
    @media screen and (min-width: 992px) {
      nav.siteNav .navList > li > a {
        padding-top: 50px;
        padding-bottom: 60px; } }
    nav.siteNav .navList a {
      text-transform: uppercase; }
      nav.siteNav .navList a:hover {
        color: #e8e000;
        text-decoration: underline; }
  nav.siteNav .innerList.tab {
    position: absolute;
    color: white;
    background: #282828;
    left: -45.2%;
    display: none;
    margin-bottom: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: auto !important;
    z-index: 10; }
    nav.siteNav .innerList.tab .container {
      height: auto !important; }
      nav.siteNav .innerList.tab .container div {
        height: auto !important; }
    nav.siteNav .innerList.tab a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.5rem;
      display: block;
      height: auto !important; }
    nav.siteNav .innerList.tab a:not(:last-child) {
      margin-bottom: 0.5rem; }
      nav.siteNav .innerList.tab a:not(:last-child):hover {
        color: #e8e000; }

.marryGoRound {
  padding: 0; }
  .marryGoRound .stub {
    position: relative;
    background-image: url("../imgs/mgr3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .marryGoRound .stub > .container {
      height: 100%; }
    .marryGoRound .stub .mgrItemText {
      width: 40%;
      position: relative;
      top: 15%;
      color: white; }
      .marryGoRound .stub .mgrItemText .header {
        font-family: RobotoBold;
        font-size: 5rem;
        line-height: 6rem; }
      .marryGoRound .stub .mgrItemText .body {
        font-size: 1.75rem;
        line-height: 2.25rem;
        margin-top: 2rem;
        margin-bottom: 2rem; }
    .marryGoRound .stub.second {
      background-image: url("../imgs/mgr2.jpg"); }
    .marryGoRound .stub.third {
      background-image: url("../imgs/mgr1.png"); }
  .marryGoRound .owl-nav {
    display: none; }
  .marryGoRound .owl-dots {
    position: relative;
    top: -2.25rem;
    text-align: center; }
    .marryGoRound .owl-dots .owl-dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      border-radius: 50%;
      border: solid 2px white;
      background: transparent; }
      .marryGoRound .owl-dots .owl-dot.active {
        background: white; }

.portfolio h3 {
  font-family: RobotoThin;
  text-transform: uppercase;
  text-align: center; }
.portfolio .digits {
  margin-top: 1.27778rem;
  margin-bottom: 1.27778rem; }
.portfolio .digit {
  position: relative; }
  .portfolio .digit.plusDot:after {
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 30%;
    right: -2.5%;
    border-radius: 50%;
    border: solid 2px #e8e000; }
.portfolio .fatDig {
  font-family: RobotoBlack;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  text-align: center; }
.portfolio .thinDig {
  font-size: 1rem;
  text-align: center; }

.pItem {
  margin-bottom: 30px; }

.pItemText {
  display: block;
  position: relative;
  font-family: RobotoRegular;
  padding: 15px;
  font-size: 1rem;
  line-height: 1rem;
  color: #282828;
  border: solid 5px #282828;
  background: white;
  transition: all 0.25s;
  cursor: pointer; }
  .pItemText .header {
    text-transform: uppercase;
    font-size: 1.27778rem;
    margin-bottom: 1.27778rem; }
  .pItemText:hover {
    background: #282828;
    color: white; }
  .pItemText .more {
    position: absolute;
    bottom: 15px;
    left: 15px; }

.pItemImg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgs/prtf1.jpg");
  cursor: pointer;
  transition: all 0.25s; }
  .pItemImg .info {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(232, 224, 0, 0.85);
    color: #282828;
    font-size: 1rem;
    line-height: 1rem;
    opacity: 0; }
    .pItemImg .info .header {
      font-weight: bold;
      margin-bottom: 1rem; }
    .pItemImg .info .customer, .pItemImg .info .goal {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-family: RobotoRegular; }
    .pItemImg .info .viewsLikes {
      position: absolute;
      bottom: 15px;
      left: 15px; }
      .pItemImg .info .viewsLikes > * {
        display: inline-block; }
        .pItemImg .info .viewsLikes > *:first-child {
          margin-right: 0.5rem; }

.pItem:hover .info {
  opacity: 1; }

.dashBelow {
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center; }
  .dashBelow:after {
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 2px;
    background: #282828;
    bottom: calc(-.5rem - 1px);
    left: calc(50% - 18px); }
  .dashBelow + .subHeader {
    width: 25%;
    margin: 0 auto 3rem;
    text-align: center; }

.news {
  border-top: solid 1px #e7e7e7;
  padding: 0 0 5rem 0;
  background: #f9f9f9; }
  .news .owl-nav {
    display: none; }
  .news .owl-dots {
    position: relative;
    top: 2.5rem;
    text-align: center; }
    .news .owl-dots .owl-dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      border-radius: 50%;
      border: solid 2px #282828;
      background: transparent; }
      .news .owl-dots .owl-dot.active {
        background: #282828; }

.nItem {
  display: block;
  position: relative;
  padding: 15px;
  background: white;
  margin-bottom: 2rem; }
  .nItem .date {
    font-size: 0.85rem;
    line-height: 1rem;
    margin-bottom: 15px; }
  .nItem .imgKeeper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imgs/prtf2.jpg"); }
  .nItem .imgKeeper1 {
    background-image: url("../imgs/prtf3.jpg"); }
  .nItem .imgKeeper2 {
    background-image: url("../imgs/prtf4.jpg"); }
  .nItem h6 {
    font-family: RobotoBold;
    text-transform: uppercase;
    transition: all 0.25s; }
  .nItem:hover h6 {
    color: #e8e000; }
  .nItem .nItemSubHeader {
    font-size: 1rem;
    line-height: 1rem;
    min-height: 60px;
    margin-top: 1.27778rem;
    margin-bottom: 3.83333rem; }
  .nItem .more {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #e8e000; }

.customers {
  border-top: solid 1px #e7e7e7; }
  .customers #customers {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    .customers #customers .owl-dots {
      top: auto;
      bottom: -1.25rem; }
  .customers h2 {
    text-align: center; }
  .customers .cItem .below, .customers .cItem .above {
    position: relative;
    min-height: 75px; }
    .customers .cItem .below img, .customers .cItem .above img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 25%;
      margin: 0 auto; }
    .customers .cItem .below img:first-child, .customers .cItem .above img:first-child {
      z-index: 2; }
    .customers .cItem .below img:last-child, .customers .cItem .above img:last-child {
      z-index: 1; }
    .customers .cItem .below:hover img:first-child, .customers .cItem .above:hover img:first-child {
      z-index: 1; }
    .customers .cItem .below:hover img:last-child, .customers .cItem .above:hover img:last-child {
      z-index: 2; }
  .customers .owl-nav {
    display: none; }
  .customers .owl-dots {
    position: relative;
    top: -1.25rem;
    text-align: center; }
    .customers .owl-dots .owl-dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      border-radius: 50%;
      border: solid 2px #282828;
      background: transparent; }
      .customers .owl-dots .owl-dot.active {
        background: #282828; }

.feedback {
  background: #e8e000;
  padding-bottom: 6rem; }
  .feedback .feedbackEnvelope {
    background: white;
    padding: 4rem; }
    .feedback .feedbackEnvelope .descr {
      margin-top: 4rem;
      padding-right: 4rem; }
    .feedback .feedbackEnvelope .right form {
      margin-top: 4rem; }
      .feedback .feedbackEnvelope .right form label {
        display: block;
        position: relative;
        border-bottom: solid 2px #282828;
        padding-bottom: 1rem; }
        .feedback .feedbackEnvelope .right form label input[type='text'], .feedback .feedbackEnvelope .right form label textarea {
          display: block;
          width: 100%; }
        .feedback .feedbackEnvelope .right form label textarea {
          resize: none; }
        .feedback .feedbackEnvelope .right form label span.inputHeader {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50%;
          opacity: 1;
          transition: all 0.25s; }
          .feedback .feedbackEnvelope .right form label span.inputHeader.focused {
            top: 0;
            opacity: 0.6;
            transform: scale(0.8) translateX(-7px); }
      .feedback .feedbackEnvelope .right form select {
        display: block;
        width: 100%;
        outline: none;
        border: none;
        border-bottom: solid 2px;
        margin-top: 4rem; }
      .feedback .feedbackEnvelope .right form label[for='file'] {
        border: dashed 1px #282828;
        border-radius: 5px;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem; }
        .feedback .feedbackEnvelope .right form label[for='file'] input {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          opacity: 0;
          cursor: pointer; }
        .feedback .feedbackEnvelope .right form label[for='file'] span {
          position: relative;
          margin-bottom: 0.5rem; }
        .feedback .feedbackEnvelope .right form label[for='file'] small {
          opacity: 0.6; }
      .feedback .feedbackEnvelope .right form span.wpcf7-list-item {
        margin: 0; }
        .feedback .feedbackEnvelope .right form span.wpcf7-list-item > label {
          cursor: pointer;
          border: none;
          user-select: none; }
        .feedback .feedbackEnvelope .right form span.wpcf7-list-item input + span span.pseudoCheck {
          position: relative;
          margin-right: 1rem;
          width: 15px;
          height: 15px;
          border: solid 2px #e7e5e7;
          display: inline-flex;
          justify-content: center;
          align-items: center; }
          .feedback .feedbackEnvelope .right form span.wpcf7-list-item input + span span.pseudoCheck:after {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            background: #e7e5e7;
            opacity: 0; }
          .feedback .feedbackEnvelope .right form span.wpcf7-list-item input + span span.pseudoCheck small a:hover {
            text-decoration: underline; }
        .feedback .feedbackEnvelope .right form span.wpcf7-list-item input {
          display: none; }
          .feedback .feedbackEnvelope .right form span.wpcf7-list-item input:checked + span span.pseudoCheck:after {
            opacity: 1; }
      .feedback .feedbackEnvelope .right form input[type='submit'] {
        display: inline-block;
        margin-top: 2rem;
        border: solid 2px #282828;
        border-radius: 5px;
        text-align: center;
        color: #282828;
        padding: 1rem 2rem;
        font-family: RobotoRegular;
        cursor: pointer;
        opacity: 1; }
        .feedback .feedbackEnvelope .right form input[type='submit'][disabled='disabled'] {
          opacity: 0.6; }
          .feedback .feedbackEnvelope .right form input[type='submit'][disabled='disabled']:hover {
            background: white;
            color: #282828; }
        .feedback .feedbackEnvelope .right form input[type='submit']:hover {
          background: #282828;
          color: white; }

footer.col-xs-12 {
  background: #282828;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  footer.col-xs-12 .pdf {
    padding-left: 5rem;
    padding-right: 0; }
    footer.col-xs-12 .pdf h4 {
      text-transform: uppercase;
      margin-top: 2.55556rem; }
      footer.col-xs-12 .pdf h4 + a.social {
        margin-top: 1rem; }
    footer.col-xs-12 .pdf a {
      display: block;
      margin-bottom: 1rem; }
      footer.col-xs-12 .pdf a i {
        display: inline-block;
        font-size: 2rem;
        margin-right: 0.5rem; }
      footer.col-xs-12 .pdf a:first-child {
        margin-top: 1.27778rem; }
      footer.col-xs-12 .pdf a:hover {
        color: #e8e000; }
      footer.col-xs-12 .pdf a.social {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        text-transform: uppercase; }
        footer.col-xs-12 .pdf a.social i {
          font-size: 1rem;
          margin-right: 0.25rem; }
  footer.col-xs-12 .map h4 {
    text-transform: uppercase; }
  footer.col-xs-12 .map ul li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
    footer.col-xs-12 .map ul li:hover a {
      color: #e8e000; }
    footer.col-xs-12 .map ul li:first-child {
      margin-top: 1rem; }
  footer.col-xs-12 .address h4 {
    text-transform: uppercase; }
    footer.col-xs-12 .address h4 i {
      color: #e8e000; }
  footer.col-xs-12 .address .leftAddress, footer.col-xs-12 .address .rightAddress {
    margin-bottom: 2.55556rem; }
    footer.col-xs-12 .address .leftAddress div, footer.col-xs-12 .address .rightAddress div {
      margin-top: 1rem; }
  footer.col-xs-12 .footerCopy {
    margin-top: 1rem; }

.upTo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border: solid 1px #e8e000;
  color: #e8e000;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 1; }
  .upTo i {
    line-height: 2.5rem; }

.contactsMap h2 {
  text-align: center; }
.contactsMap #contactsMap {
  margin-top: 1.27778rem; }
  .contactsMap #contactsMap .ymaps-2-1-60-inner-panes {
    -webkit-filter: grayscale(100%); }

.breadCrumbs {
  padding-top: 4rem; }
  .breadCrumbs a:hover {
    color: #e8e000;
    text-decoration: underline; }
  .breadCrumbs .lastCrumb {
    font-family: RobotoBold; }

.pageHeader h1 {
  text-transform: uppercase;
  font-family: RobotoRegular; }

.tagsFilter .tags .tagItem {
  display: inline-block;
  border: solid 2px #e8e000;
  padding: 5px 10px;
  margin-right: 10px;
  font-family: RobotoBold;
  font-size: 1rem;
  color: #e8e000;
  text-transform: uppercase; }
  .tagsFilter .tags .tagItem:hover {
    color: white;
    background: #e8e000; }
.tagsFilter .filter .separator {
  color: #e8e000; }
.tagsFilter .filter a {
  color: #e8e000; }
  .tagsFilter .filter a:hover, .tagsFilter .filter a.active {
    text-decoration: underline; }

.pageDescription .header, .strategyPhoto .header {
  margin-bottom: 4rem;
  text-align: center; }

.pageDescription .header span, .strategyPhoto .header span {
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  border: solid 2px #282828;
  text-transform: uppercase; }

.pageDescription {
  background: #e7e5e7;
  font-family: RobotoRegular;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.works {
  margin-top: 6rem; }

.showMeMore {
  text-align: center; }
  .showMeMore .smmWrapper {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer; }
    .showMeMore .smmWrapper img {
      display: block;
      margin: 0 auto 1rem;
      transition: transform 1s; }
    .showMeMore .smmWrapper:hover img {
      animation: 1s linear infinite rotate; }

.pageSeo .text, .aboutInnGreetings .content .text {
  color: #282828;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem; }

.pageSeo {
  background-image: url("../imgs/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }

.strategyPhoto {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.aboutInnGreetings {
  padding-bottom: 4rem;
  background-image: url("../imgs/contacts.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #282828; }
  .aboutInnGreetings .content {
    text-align: center; }
    .aboutInnGreetings .content h1 {
      text-transform: uppercase;
      font-family: RobotoBold;
      margin-bottom: 0; }
    .aboutInnGreetings .content .text {
      margin-bottom: 2rem; }
    .aboutInnGreetings .content .greetingIcon i {
      display: block;
      margin-bottom: 1rem; }

.aboutInnAdvs .aboutAdvsPageItem .header, .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem .header {
  text-transform: uppercase;
  font-family: RobotoRegular;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1rem; }

.aboutInnAdvs .aboutAdvsPageItems {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .aboutInnAdvs .aboutAdvsPageItems > .row:not(:last-child) {
    margin-bottom: 4rem; }
.aboutInnAdvs .aboutAdvsPageItem .fa {
  position: relative; }
  .aboutInnAdvs .aboutAdvsPageItem .fa:before {
    display: block;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    position: absolute; }

.aboutInnPDF .aboutInnPDFItems {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem {
    position: relative; }
    .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem > .row > .fa {
      font-size: 8rem;
      text-align: center;
      margin-bottom: 1rem; }
    .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem .header {
      text-align: center;
      margin-bottom: 2rem; }
    .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem a {
      position: absolute;
      bottom: 0;
      left: 15px; }
      .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem a .fa {
        color: #e8e000;
        display: inline-block;
        margin-left: 1rem; }

.servicesList {
  margin-bottom: 5rem;
  margin-top: 2.5rem; }

.serviceColumn a {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase; }
  .serviceColumn a:hover {
    color: #e8e000; }

.serviceSinglePage .pageHeader {
  margin-bottom: 4rem; }
.serviceSinglePage .pageHeaderDescription {
  margin-top: 1.27778rem; }

.portfolioSingleDescription .left > div {
  border-top: solid 1px #e6e4e6;
  padding-top: 1rem; }
.portfolioSingleDescription .left .customerIs, .portfolioSingleDescription .left .goalIs {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: RobotoRegular;
  font-weight: bold; }
.portfolioSingleDescription .zooKeeper {
  margin-bottom: 1rem; }
  .portfolioSingleDescription .zooKeeper a:hover {
    color: #e8e000; }
  .portfolioSingleDescription .zooKeeper h3 {
    font-family: RobotoRegular; }
  .portfolioSingleDescription .zooKeeper > div:last-child {
    padding-top: 3rem; }
.portfolioSingleDescription .right img {
  display: block;
  width: 100%;
  margin-bottom: 1rem; }

.paginLike {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .paginLike .likeIt {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    .paginLike .likeIt a {
      text-align: center;
      min-width: 50px;
      min-height: calc(50px + 1rem); }
      .paginLike .likeIt a:before {
        content: "";
        display: block;
        width: 100%;
        height: calc(100% - 1rem);
        background-image: url("../imgs/likeIt.png");
        background-position: center;
        background-repeat: no-repeat; }
      .paginLike .likeIt a:hover {
        color: #e8e000; }
        .paginLike .likeIt a:hover:before {
          background-image: url("../imgs/likeItOr.png"); }
  .paginLike .pagination {
    display: flex;
    justify-content: space-between; }
    .paginLike .pagination i {
      display: inline-block; }
    .paginLike .pagination .prev:hover {
      color: #e8e000; }
    .paginLike .pagination .prev i {
      margin-right: 15px; }
    .paginLike .pagination .next:hover {
      color: #e8e000; }
    .paginLike .pagination .next i {
      margin-left: 15px; }

*[class*=dynamic-col-] {
  float: left; }

.dynamic-col-1 {
  width: 30%;
  margin-right: 5%; }

.dynamic-col-2 {
  width: 65%; }
  .dynamic-col-2 img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2rem; }

article.post:after {
  content: "";
  display: table;
  clear: both; }

footer.entry-footer {
  display: none; }

#comments {
  display: none; }

.screen-reader-text {
  display: none; }

.navigation.post-navigation {
  display: none; }

.error404 {
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .error404 .text404 {
    height: 75vh; }
    .error404 .text404 h1 {
      text-align: right; }
    .error404 .text404 p {
      text-align: right; }
    .error404 .text404 a {
      display: block;
      padding: 1rem 3rem;
      border: solid 1px #282828;
      color: #282828;
      text-align: center;
      float: right;
      min-width: 25%; }
      .error404 .text404 a:hover {
        color: white;
        background: #282828; }
  .error404 .img404 {
    height: 75vh;
    background-image: url("../imgs/homer2.jpg");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat; }

@media screen and (max-width: 992px) {
  nav.siteNav .logo, nav.siteNav .phones, nav.siteNav .socials, nav.siteNav .navList {
    text-align: center; } }
@media screen and (max-width: 992px) {
  nav.siteNav .logo {
    height: 45px; }
    nav.siteNav .logo div.bgImage {
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0 auto;
      top: -10px;
      bottom: auto;
      left: auto;
      right: auto;
      background-position: center;
      background-size: 100%; } }
@media screen and (max-width: 992px) {
  nav.siteNav .phones {
    justify-content: center;
    margin-top: 1rem; } }
@media screen and (max-width: 992px) {
  nav.siteNav .socials {
    display: block;
    text-align: center; } }
@media screen and (max-width: 992px) {
  nav.siteNav .navList {
    display: block; } }
@media screen and (max-width: 1199px) {
  nav.siteNav .navList {
    padding-left: 0; } }
  @media screen and (max-width: 1199px) and (max-width: 992px) {
    nav.siteNav .navList li {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem; } }

@media screen and (max-width: 992px) {
  nav.siteNav .navList .innerList.xSmall {
    display: none;
    background: #e7e5e7;
    padding-top: 1rem;
    padding-bottom: 1rem; } }
  @media screen and (max-width: 992px) and (max-width: 992px) {
    nav.siteNav .navList .innerList.xSmall a {
      font-size: 0.75rem;
      line-height: 1rem; } }

  @media screen and (max-width: 992px) and (max-width: 992px) and (max-width: 992px) {
    nav.siteNav .navList .innerList.xSmall a:hover {
      color: #e8e000; } }

.portfolio .digit {
  margin-bottom: 2rem; }
  @media screen and (max-width: 768px) {
    .portfolio .digit.plusDot:after {
      top: auto;
      bottom: -1.5rem;
      right: calc(50% - .5rem); } }

@media screen and (max-width: 992px) {
  .news .subHeader {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .customers .subHeader {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .feedback .subHeader {
    width: 100%; }
  .feedback .feedbackEnvelope {
    text-align: center; }
    .feedback .feedbackEnvelope .descr {
      padding-right: 0; } }
@media screen and (max-width: 768px) {
  .feedback.contacts form input[type=submit] {
    width: 80%; } }

@media screen and (max-width: 768px) {
  .tagsFilter .tags .tagItem {
    display: block;
    margin-bottom: 10px; } }

@media screen and (max-width: 768px) {
  .aboutInnAdvs .aboutAdvsPageItem .fa:before {
    font-size: 2rem;
    top: -3rem; } }
@media screen and (max-width: 768px) {
  .aboutInnAdvs .aboutAdvsPageItem:not(:last-child) {
    margin-bottom: 2rem; } }

@media screen and (max-width: 768px) {
  .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem > .row > .fa {
    font-size: 3rem; } }
@media screen and (max-width: 768px) {
  .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem:not(:last-child) {
    margin-bottom: 3rem;
    border-bottom: solid 1px #e7e5e7; } }
@media screen and (max-width: 768px) {
  .aboutInnPDF .aboutInnPDFItems .aboutInnPDFItem:not(:last-child) a {
    bottom: 1rem; } }

@media screen and (max-width: 768px) {
  .portfolioSinglePage .portfolioSingleDescription .right {
    margin-top: 2rem; } }

@media screen and (max-width: 768px) {
  nav.siteNav .socials {
    margin-bottom: 2rem;
    margin-top: 1rem; } }
@media screen and (max-width: 992px) {
  nav.siteNav .socials form {
    top: auto;
    bottom: -35px;
    left: 0;
    width: 100%; } }

@media screen and (max-width: 992px) {
  footer.col-xs-12 {
    text-align: center; }
    footer.col-xs-12 .pdf {
      margin-bottom: 2rem;
      padding: 0 15px; }
      footer.col-xs-12 .pdf a.download {
        width: 50%;
        float: left;
        margin-top: 0 !important; }
      footer.col-xs-12 .pdf a.social {
        display: inline-block; } }
@media screen and (max-width: 992px) {
  footer.col-xs-12 .address {
    margin-bottom: 1rem; }
    footer.col-xs-12 .address .leftAddress, footer.col-xs-12 .address .rightAddress {
      margin-bottom: 0; } }
@media screen and (max-width: 992px) {
  footer.col-xs-12 .services {
    margin-bottom: 1rem; } }

@media screen and (max-width: 992px) {
  *[class*=dynamic-col-] {
    float: none; } }

@media screen and (max-width: 992px) {
  .dynamic-col-1 {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .dynamic-col-2 {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .serviceColumn {
    text-align: center; } }

@media screen and (max-width: 992px) {
  .text404 h1 {
    text-align: center; }
  .text404 p {
    text-align: center; }
  .text404 a {
    float: none;
    margin: 0 auto; } }

/*# sourceMappingURL=zhgi.css.map */
