@import "_reset.sass"
@import "_fonts.sass"
@import "_colourscheme.sass"


//  Contents
//  a. Variables
//  b. Navigation
//  c. MarryGoRound
//  d. Portfolio

//  a. Variables

$tranSpeed: .75s

//  b. Navigation
nav.siteNav
  padding-top: 1rem
  padding-bottom: 1rem
  border-bottom: solid 1px $bGray
  .logo
    text-align: left
  .phones
    text-align: right
  .socials
    text-align: center
  .navList
    display: flex
    justify-content: space-between

//  c. MarryGoRound
.marryGoRound
  .stub
    background-image: url("../imgs/mgrReception.jpg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    &.second
      background-image: url("../imgs/mgrNs.jpg")
    &.third
      background-image: url("../imgs/mgrFloris.jpg")
  .owl-nav
    display: none
  .owl-dots
    position: relative
    top: -1.25rem
    text-align: center
    .owl-dot
      display: inline-block
      width: 1rem
      height: 1rem
      margin-left: .25rem
      margin-right: .25rem
      border-radius: 50%
      border: solid 2px $bWhite
      background: transparent
      &.active
        background: $bWhite

//  d. Portfolio
.portfolio
  h3
    font-family: RobotoThin
    text-transform: uppercase
    text-align: center
  .digits
    margin-top: 1.2777778rem
    margin-bottom: 1.2777778rem
  .digit
    position: relative
    &.plusDot:after
      content: ''
      display: block
      position: absolute
      width: 10px
      height: 10px
      top: 30%
      right: -2.5%
      border-radius: 50%
      border: solid 2px $bOrange
  .fatDig
    font-family: RobotoBlack
    font-size: 3rem
    line-height: 3rem
    text-align: center
  .thinDig
    font-size: .75rem
    text-align: center

  .pItem
    margin-bottom: 30px

  .pItemText
    display: block
    position: relative
    font-family: RobotoRegular
    padding: 15px
    font-size: .75rem
    line-height: 1rem
    color: $bOrange
    border: solid 5px $bOrange
    background: $bWhite
    transition: all $tranSpeed
    cursor: pointer
    .header
      text-transform: uppercase
      font-size: 1.2777778rem
      margin-bottom: 1.2777778rem
    &:hover
      background: $bOrange
      color: $bWhite
    .more
      position: absolute
      bottom: 15px
      left: 15px
  .pItemImg
    position: relative
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-image: url("../imgs/prtf1.jpg")
    cursor: pointer
    transition: all $tranSpeed
    .info
      position: absolute
      width: 100%
      height: 100%
      padding: 15px
      background: rgba($bOrange, .85)
      color: $bWhite
      font-size: .75rem
      line-height: 1rem
      opacity: 0
      .header
        font-weight: bold
        margin-bottom: 1rem

      .customer, .goal
        text-transform: uppercase
      .viewsLikes
        position: absolute
        bottom: 15px
        left: 15px
        >*
          display: inline-block
          &:first-child
            margin-right: .5rem
  .pItem:hover
    .info
      opacity: 1

@import "_xs&sm.sass"
