body {
  background: #282828;
  color: #282828; }
  body > .container {
    background: white; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

input, textarea {
  outline: none;
  border: none;
  background: transparent;
  color: white; }

::-webkit-input-placeholder {
  color: white; }

::-moz-placeholder {
  color: white; }

@font-face {
  font-family: RobotoThin;
  src: url(../fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: RobotoBlack;
  src: url(../fonts/Roboto-Black.ttf); }
html {
  font-size: 14px;
  line-height: 18px; }

body {
  font-family: RobotoLight;
  font-size: 1rem;
  line-height: 1.2777778rem; }

h1 {
  font-size: 2.8333333rem;
  line-height: 3.8333333rem;
  margin-top: 1.2777778rem;
  margin-bottom: 2.5555556rem; }

h2 {
  font-size: 2rem;
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0; }

h3 {
  font-size: 1.3888889rem;
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0; }

h4 {
  font-size: 1rem;
  line-height: 1.2777778rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0; }

h5, h6 {
  font-size: 1rem;
  line-height: 1.2777778rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.2777778rem; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

body {
  background: #282828;
  color: #282828; }
  body > .container {
    background: white; }

nav.siteNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #282828; }
  nav.siteNav .logo {
    text-align: left; }
  nav.siteNav .phones {
    text-align: right; }
  nav.siteNav .socials {
    text-align: center; }
  nav.siteNav .navList {
    display: flex;
    justify-content: space-between; }

.marryGoRound .stub {
  background-image: url("../imgs/mgrReception.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .marryGoRound .stub.second {
    background-image: url("../imgs/mgrNs.jpg"); }
  .marryGoRound .stub.third {
    background-image: url("../imgs/mgrFloris.jpg"); }
.marryGoRound .owl-nav {
  display: none; }
.marryGoRound .owl-dots {
  position: relative;
  top: -1.25rem;
  text-align: center; }
  .marryGoRound .owl-dots .owl-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 50%;
    border: solid 2px white;
    background: transparent; }
    .marryGoRound .owl-dots .owl-dot.active {
      background: white; }

.portfolio h3 {
  font-family: RobotoThin;
  text-transform: uppercase;
  text-align: center; }
.portfolio .digits {
  margin-top: 1.2777778rem;
  margin-bottom: 1.2777778rem; }
.portfolio .digit {
  position: relative; }
  .portfolio .digit.plusDot:after {
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 30%;
    right: -2.5%;
    border-radius: 50%;
    border: solid 2px #ec4112; }
.portfolio .fatDig {
  font-family: RobotoBlack;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center; }
.portfolio .thinDig {
  font-size: 0.75rem;
  text-align: center; }
.portfolio .pItem {
  margin-bottom: 30px; }
.portfolio .pItemText {
  display: block;
  position: relative;
  font-family: RobotoRegular;
  padding: 15px;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ec4112;
  border: solid 5px #ec4112;
  background: white;
  transition: all 0.25s;
  cursor: pointer; }
  .portfolio .pItemText .header {
    text-transform: uppercase;
    font-size: 1.2777778rem;
    margin-bottom: 1.2777778rem; }
  .portfolio .pItemText:hover {
    background: #ec4112;
    color: white; }
  .portfolio .pItemText .more {
    position: absolute;
    bottom: 15px;
    left: 15px; }
.portfolio .pItemImg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgs/prtf1.jpg");
  cursor: pointer;
  transition: all 0.25s; }
  .portfolio .pItemImg .info {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(236, 65, 18, 0.85);
    color: white;
    font-size: 0.75rem;
    line-height: 1rem;
    opacity: 0; }
    .portfolio .pItemImg .info .header {
      font-weight: bold;
      margin-bottom: 1rem; }
    .portfolio .pItemImg .info .customer, .portfolio .pItemImg .info .goal {
      text-transform: uppercase; }
    .portfolio .pItemImg .info .viewsLikes {
      position: absolute;
      bottom: 15px;
      left: 15px; }
      .portfolio .pItemImg .info .viewsLikes > * {
        display: inline-block; }
        .portfolio .pItemImg .info .viewsLikes > *:first-child {
          margin-right: 0.5rem; }
.portfolio .pItem:hover .info {
  opacity: 1; }

.dashBelow {
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase; }
  .dashBelow:after {
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 2px;
    background: #282828;
    bottom: calc(-.5rem - 1px);
    left: calc(50% - 18px); }

.news {
  border-top: solid 1px #e7e7e7; }
  .news h2 {
    text-align: center; }
  .news .subHeader {
    width: 25%;
    margin: 0 auto;
    text-align: center; }
  .news .nItem {
    display: block;
    position: relative;
    padding: 15px; }
    .news .nItem .date {
      font-size: 0.85rem;
      line-height: 1rem;
      margin-bottom: 15px; }
    .news .nItem h6 {
      font-family: RobotoBold;
      text-transform: uppercase;
      transition: all 0.25s; }
    .news .nItem:hover h6 {
      color: #ec4112; }
    .news .nItem .nItemSubHeader {
      font-size: 0.75rem;
      line-height: 1rem;
      margin-top: 1.2777778rem;
      margin-bottom: 3.8333334rem; }
    .news .nItem .more {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #ec4112; }
  .news .owl-nav {
    display: none; }
  .news .owl-dots {
    position: relative;
    top: -1.25rem;
    text-align: center; }
    .news .owl-dots .owl-dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      border-radius: 50%;
      border: solid 2px #282828;
      background: transparent; }
      .news .owl-dots .owl-dot.active {
        background: #282828; }

.customers {
  border-top: solid 1px #e7e7e7; }
  .customers h2 {
    text-align: center; }
  .customers .subHeader {
    width: 25%;
    margin: 0 auto;
    text-align: center; }
  .customers .cItem .below, .customers .cItem .above {
    position: relative;
    min-height: 75px; }
    .customers .cItem .below img, .customers .cItem .above img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto; }
    .customers .cItem .below img:first-child, .customers .cItem .above img:first-child {
      z-index: 2; }
    .customers .cItem .below img:last-child, .customers .cItem .above img:last-child {
      z-index: 1; }
    .customers .cItem .below:hover img:first-child, .customers .cItem .above:hover img:first-child {
      z-index: 1; }
    .customers .cItem .below:hover img:last-child, .customers .cItem .above:hover img:last-child {
      z-index: 2; }
  .customers .owl-nav {
    display: none; }
  .customers .owl-dots {
    position: relative;
    top: -1.25rem;
    text-align: center; }
    .customers .owl-dots .owl-dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      border-radius: 50%;
      border: solid 2px #282828;
      background: transparent; }
      .customers .owl-dots .owl-dot.active {
        background: #282828; }

.feedback {
  background: #ec4112;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .feedback h2 {
    color: white; }
  .feedback form .left {
    border-right: solid 1px white; }
  .feedback form input, .feedback form textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 17px 15px;
    border-bottom: solid 1px white;
    resize: none; }
  .feedback form input[type=submit] {
    border: solid 1px white;
    cursor: pointer; }
    .feedback form input[type=submit]:hover {
      background: white;
      color: #ec4112; }

footer {
  background: #282828;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 2rem; }
  footer .pdf h4 {
    text-transform: uppercase;
    margin-top: 2.5555556rem; }
    footer .pdf h4 + a.social {
      margin-top: 1rem; }
  footer .pdf a {
    display: block;
    margin-bottom: 1rem; }
    footer .pdf a i {
      display: inline-block;
      font-size: 2rem;
      margin-right: 0.5rem; }
    footer .pdf a:first-child {
      margin-top: 1.2777778rem; }
    footer .pdf a:hover {
      color: #ec4112; }
    footer .pdf a.social {
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
      text-transform: uppercase; }
      footer .pdf a.social i {
        font-size: 1rem;
        margin-right: 0.25rem; }
  footer .map h4 {
    text-transform: uppercase; }
  footer .map ul {
    padding: 0; }
    footer .map ul li {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem; }
      footer .map ul li:hover a {
        color: #ec4112; }
      footer .map ul li:first-child {
        margin-top: 1rem; }
  footer .address h4 {
    text-transform: uppercase; }
    footer .address h4 i {
      color: #ec4112; }
  footer .address .leftAddress, footer .address .rightAddress {
    margin-bottom: 2.5555556rem; }
    footer .address .leftAddress div, footer .address .rightAddress div {
      margin-top: 1rem; }

.upTo {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: solid 1px #ec4112;
  color: #ec4112;
  text-align: center;
  cursor: pointer;
  display: none; }

@media screen and (max-width: 768px) {
  nav.siteNav .logo, nav.siteNav .phones, nav.siteNav .socials, nav.siteNav .navList {
    text-align: center; } }
@media screen and (max-width: 768px) {
  nav.siteNav .navList {
    display: block; } }

.portfolio .digit {
  margin-bottom: 2rem; }
  @media screen and (max-width: 768px) {
    .portfolio .digit.plusDot:after {
      top: auto;
      bottom: -1.5rem;
      right: calc(50% - .5rem); } }

.news .subHeader {
  width: 100%; }

.customers .subHeader {
  width: 100%; }

/*# sourceMappingURL=zhgi.css.map */
