@import "_reset.sass"
@import "_fonts.sass"
@import "_colourscheme.sass"


//  Contents
//  a. Variables
//  b. Navigation
//  c. MarryGoRound

//  a. Variables


//  b. Navigation
nav.siteNav
  padding-top: 1rem
  padding-bottom: 1rem
  border-bottom: solid 1px $bGray
  .logo
    text-align: left
  .phones
    text-align: right
  .socials
    text-align: center
  .navList
    display: flex
    justify-content: space-between

//  c. MarryGoRound
.marryGoRound
  .stub
    background-image: url("../imgs/mgrReception.jpg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    &.second
      background-image: url("../imgs/mgrNs.jpg")
    &.third
      background-image: url("../imgs/mgrFloris.jpg")
  .owl-nav
    display: none
  .owl-dots
    position: relative
    top: -1.25rem
    text-align: center
    .owl-dot
      display: inline-block
      width: 1rem
      height: 1rem
      margin-left: .25rem
      margin-right: .25rem
      border-radius: 50%
      border: solid 2px $white
      background: transparent
      &.active
        background: $white

@import "_xs&sm.sass"
